*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(5, 1fr);
    height: 100vh;
    width: 100%;
}
header .black{
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background-color: black;
}
header .art-image{
    grid-column: 2 / 5;
    grid-row: 1 / 5;
    background-image: url(./images/pexels-tan-danh-1329711.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
header .text{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text h1{
    color: white;
    font-size: 55px;
    line-height: 55px;
}
.text span{
    color: rgb(188, 182, 170);
}
.paragraph{
    background-color: rgba(66, 40, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-right: 125px;
    font-weight: 600;
}
.btn{
    grid-column: 4 / 6 ;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 200px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

/*MAIN STARTS HERE */ 
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:repeat(8, 1fr);
    height: 200vh;
    width: 100%;
}

.info{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 60%;
    gap: 5%;
}
.info h1{
    color: black;
    font-size: 55px;
}
.toprow-art{
    grid-column: 3 / 6;
    grid-row: 1 / 4;
    background-image: url(./images/drawers.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.dobbelrow{
    grid-column: 1 / 4;
    grid-row: 4 / 9;
    background-image: url(./images/pexels-tan-danh-1329711.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 44px 44px;
}
.right-single{
    grid-column: 4 / 6;
    grid-row: 4 / 7;
    background-image: url(./images//pexels-lumn-167699.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 44px;
    margin-bottom: 54px;
}
.inspired{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: black;
    grid-column: 4 / 6;
    grid-row: 7 / 9;
    height: 88%;
    gap: 5%;
    padding: 4%;
    
}
.inspired h1{
    color: white;
    font-size: 55px;
}
.inspired p{
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
} 

/* FOOTER */ 
footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 40vh;
    width: 100%;
}
footer nav{
    top: 0;
    background-color: black;
    height: 30vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}
footer nav h1{
    grid-column: 1 / 2;
    grid-row: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer nav p{
    grid-column: 2 / 3;
    grid-row: auto;
    color: rgb(200, 200, 200);
    display: flex;
    align-items: center;
    padding-left: 64px;
    width: 80%;
}
.icons{
    display: flex;
    gap: 5%;
    align-items: center;
}
.facebook-logo{
    background-image: url(./images/icon-facebook.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.twitter-logo{
    background-image: url(./images/icon-twitter.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.pinterest-logo{
    background-image: url(./images/icon-pinterest.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    cursor: pointer;
}